/build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/
.vs/
base.dir/
Debug/
Release/
Win32/
idlib.dir/
*.sdf
*.vcxproj
*.sln
*.exe
*.bin
*.dll
*.obj
*.lib
*.pdb
*.idb
*.ipch
*.user
*.filters
*.html
*.vcproj